<div class="currently_playing">
  <h3>Currently Playing</h3>
  <ol>
    <li>
      Stairyway to Heaven
      <em>by</em>
      Led Zepplin
      <%= image_tag "bruce.jpeg", class: "img-circle" %>
    </li>
    <li>
      Freebird
      <em>by</em>
      Leonardo Skinard
      <%= image_tag "bruce.jpeg", class: "img-circle" %>
    </li>
    <li>
      Sailing Away
      <em>by</em>
      Sticks
      <%= image_tag "bruce.jpeg", class: "img-circle" %>
    </li>
    <li>
      Crystall Ball
      <em>by</em>
      Prince
      <%= image_tag "bruce.jpeg", class: "img-circle" %>
    </li>
    <li>
      Stairyway to Heaven
      <em>by</em>
      Led Zepplin
      <%= image_tag "bruce.jpeg", class: "img-circle" %>
    </li>
    <li>
      Freebird
      <em>by</em>
      Leonardo Skinard
      <%= image_tag "bruce.jpeg", class: "img-circle" %>
    </li>
    <li>
      Sailing Away
      <em>by</em>
      Sticks
      <%= image_tag "bruce.jpeg", class: "img-circle" %>
    </li>
    <li>
      Crystall Ball
      <em>by</em>
      Prince
      <%= image_tag "bruce.jpeg", class: "img-circle" %>
    </li><li>
      Stairyway to Heaven
      <em>by</em>
      Led Zepplin
      <%= image_tag "bruce.jpeg", class: "img-circle" %>
    </li>
    <li>
      Freebird
      <em>by</em>
      Leonardo Skinard
      <%= image_tag "bruce.jpeg", class: "img-circle" %>
    </li>
    <li>
      Sailing Away
      <em>by</em>
      Sticks
      <%= image_tag "bruce.jpeg", class: "img-circle" %>
    </li>
    <li>
      Crystall Ball
      <em>by</em>
      Prince
      <%= image_tag "bruce.jpeg", class: "img-circle" %>
    </li>
  </ol>
</div>

<div class="add_to_playlist">
  It's <span class="my_name">Josh's</span> turn to pick a song!
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Spotify">
    </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>