<div class="playlist_show">
  <div class="row">
    <div class="col-md-5">
      <div class="currently_playing">
        <h3><%= @playlist.name.titleize %></h3>
        <table class="table-hover">
          <thead>
            <tr>
              <th>Song</th>
              <th>Artist</th>
              <th>Added By</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td>
                <%= link_to playlist_path(@playlist), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  Delete This Playlist
                  <% end %>
              </td>
            </tr>
          </tfoot>
          <tbody>
            <% @playlist.tracks.each do |track| %>
            <tr>
              <td><%= truncate track.name, length: 25, separator: ' ' %></td>
              <td><%= track.artists %></td>
              <td><%= track.contributer %></td>
            <% if @playlist.user == current_user %>
              <td>
                <%= link_to playlist_track_path(@playlist, track), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                <% end %>
              </td>
            <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <div class="col-md-7">
    <div class="add_to_playlist">
      <p>contributers: <%= @playlist.contributers.join( ", ").titleize %></p>
      <h1>It's <span class="my_name"><%= @playlist.current_contributer.titleize %>'s</span> turn to pick a song!</h1>
      <div class="form-group">
        <input id="spotify_search" type="text" class="form-control" placeholder="Search Spotify" data-search-uri="<%= search_playlist_tracks_url(@playlist) %>" >
      </div>
      <!-- <button type="submit" class="btn btn-default">Submit</button> -->
    </div>
    <div id="spotify_search_results">
    
    </div>
  </div>
</div>    
<!-- </div>
</div> -->